<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511394512624-j1l4vo3i1v7m00qqla3oncet2bgrujve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511394512624-j1l4vo3i1v7m00qqla3oncet2bgrujve</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511394512624-i5k5qvfkgjlbhi0ok1s66qqefa8m4nua.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-8lTy70X1TbOQUoZfK4JjOZfNLhh5bKw</string>
	<key>GCM_SENDER_ID</key>
	<string>511394512624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.donutgram</string>
	<key>PROJECT_ID</key>
	<string>authetication-d2a09</string>
	<key>STORAGE_BUCKET</key>
	<string>authetication-d2a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511394512624:ios:897ad9fc19dacf1e60cc35</string>
	<key>DATABASE_URL</key>
	<string>https://authetication-d2a09-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>